{% extends "base.html" %}

{% comment %}
    Edit your user profile here.
{% endcomment %}

{% block head %}
    <title>WRIST | Edit Profile</title>
{% endblock %}

{% block body %}
    <header>
        <h1>WRIST</h1>
        <h2>Edit Profile</h2>
    </header>

    <section>
        {% if form.errors %}
            <p>Error.</p>
        {% endif %}

        <form method="post" action="."> {% csrf_token %}
            {{ form.as_ul }}
            <input type="submit" name="submit" value="Submit" />
        </form>
    </section>
{% endblock %}