{% extends "base.html" %}

{% comment %}
    User profile page.
{% endcomment %}

{% block head %}
    <title>{{ user.get_full_name }} | WRIST</title>
{% endblock %}

{% block body %}
    <header>
        <h1>{{ user.get_full_name }}</h1>
    </header>

    <div id="basic_info">
        <p>
            <b>{{ user.job_title }}</b><br />
            {{ user.job_employer }}<br />
            {{  user.residence_city }}, {{ user.residence_state }}<br />
            {{ user.email }} &middot; {{ user.phone_number }}<br />
        </p>
    </div>

{% endblock %}
