{% extends "base.html" %}

{% comment %}
    Main page to create users.
{% endcomment %}

{% block head %}
    <title>WRIST | Register</title>
{% endblock %}

{% block body %}
    <header>
        <h1>WRIST</h1>
        <h2>Register</h2>
    </header>

    <section>
        {% if form.errors %}
            <p>You can not register with this account.</p>
        {% endif %}

        <form method="post" action=".">{% csrf_token %}
            {{ form.as_ul }}
            <input type="hidden" name="next" value="/contacts/" />
            <input type="submit" name="register" value="Register" />
        </form>
    </section>
{% endblock %}
